doctype html
html
  head
    title GAME_BREAKING
    meta(charset='utf-8')
    link(rel='stylesheet' href='./css/normalize.css')
    link(rel='stylesheet' href='./style.css')

  body

    .slide
      .cont
        h1 GAME_BREAKING
        h2 A Presentation
        hr
        p Benjamin Pang
        p Hacking in Global Perspective
        p 2020

    .slide
      .cont
        h2 Contents
        hr
        ul
          li Glitches/Exploits
          li Mods/Cheats
          li Scams
          li Doxxing/Stream Sniping
          li Punishment/Deterrence

    .slide
      .cont
        h2 

    script(src='./main.js')
