html, body
  margin 0
  height 100%
  width 100%
  font-family monospace
  font-size 1.5rem
  color #555

body
  overflow hidden

h1, h2, h3, h4, h5, h6
  color #111

hr
  border none
  border-top solid #000 1px

.slide
  height 100%
  width 100%
  display flex
  justify-content center
  align-items center
