html, body
  margin 0
  height 100%
  width 100%
  font-family monospace
  font-size 1.5rem
  color #555

body
  overflow hidden

h1, h2, h3, h4, h5, h6
  color #111

a
  color #55f
  text-decoration underline

hr
  border none
  border-top solid #000 1px

img, video
  text-align center
  height 50vh
  max-width 100%

iframe
  width 100%

.slide
  height 100%
  width 100%
  display flex
  justify-content center
  align-items center
  overflow hidden

.cont
  max-width 80%
  max-height 80%

.full.able
  .cont
    width 80%
    height 80%
  h1, h2, h3, h4, h5, h6, p, ul, hr
    display none
  img, video, iframe
    height 100%
    width 100%
    object-fit contain
